.home {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
    h1 {
    color: white;
    font-family: "open-sans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
    margin-bottom: 70px;
    font-size: 80px;
    text-shadow: 2px 0 0 #333366, -2px 0 0 #333366, 0 2px 0 #333366, 0 -2px 0 #333366, 1px 1px #333366, -1px -1px 0 #333366, 1px -1px 0 #333366, -1px 1px 0 #333366;
  }
}

.home-eps {
  margin-top: 20px;
  margin-bottom: 20px;
  h3 {
    color: #333366;
    font-family: "open-sans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
    margin-bottom: 20px;
  }
}
