.wrapper-ep {
  position: relative;
  padding-top: 30px;
  .image-fmz {
    position: absolute; left: 10px;
    top: 10px;
    width: 40px;
  }
  .abonnement {
    position: absolute;
    top: 5px;
    left: 75px;
  }
}

.artwork {
  width: 100%;
  img {
    text-align: right;
    float: right;
    border: 10px solid white;
    border-radius: 4px;
  }
  iframe {
    margin-top: 30px;
    float: right;
  }
}

.title-ep {
  h1 {
    color: white;
    font-family: "open-sans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
    margin-top: 0px;
    margin-bottom: 5px;
    text-shadow: 2px 2px #333366;
    font-size: 80px;
  }
  p {
    color: #333366;
    font-family: "open-sans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
  }
}

.videos-ep {
  h3 {
    color: #333366;
    font-family: "open-sans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
    margin: 5px;
  }
}

.songs-ep {
  p {
    color: #333366;
    font-family: "open-sans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 10;
  }
}

.links-ep {
  width: 300px;
  margin-bottom: 20px;
  a {
    margin-right: 30px;
    display: inline-block;
    color: #333366;
    padding: 5px;
    margin-bottom: 20px;
    margin: auto;
  }
}

.image-ep {
  width: 250px;
  z-index: 2;
  margin-bottom: 10px;
}

@media screen and (max-width: 989px) {
  .wrapper-ep {
    height: auto;
  }
}

@media screen and (max-width: 989px) {
  .artwork {
    margin-top: 40px;
    display: flex;
    align-items: center;
    img {
      float: none;
      margin: auto;
    }
    iframe {
      float: none;
      margin: auto;
      height: 300px;
    }
  }
}

@media screen and (max-width: 642px) {
  .artwork {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    img {
      width: 280px;
      margin: auto;
      margin-bottom: 30px
    }
    iframe {
      width: 280px;
      margin: auto;
    }
  }
}


@media screen and (max-width: 642px) {
  .title-ep {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
  }
  .links-ep {
    margin: auto;
    margin-bottom: 40px;
  }
  .songs-ep {
    margin-bottom: 40px;
      p {
      text-align: center;
    }
  }
  .videos-ep {
    display: none;
    h3 {
      text-align: center;
    }
  }
}
