<% content_for :meta_title, "Fantastic Mister Zguy - Hi there." %>
<% content_for :meta_description, "Fantastic Mister Zguy is a Feel Good Indie Music Artist. He's from Paris and you should dig his music." %>
<% content_for :meta_image, "vynil dig.png" %>

<div class="banner" style="background-image: url('<%= image_path('vynil dig.png') %>');">
  <div class="banner-content text-center">
    <h1>Fantastic Mister Zguy</h1>
  </div>
  <div class="btns text-center">
    <a href="">Spotify</a>
    <a href="">Youtube</a>
    <a href="">Itunes</a>
    <a href="">Instagram</a>
    <a href="">Facebook</a>
  </div>
  <div class="description">
    <p>Lo-Fi artist<br>musician and cartoonist</p>
  </div>
</div>
