<div class="wraper-home" style="">
  <div class="accroche">
    <h2>Fantastic<br>Mister<br>Zguy</h2>
  </div>
  <iframe width="" height="" src="https://www.youtube.com/embed/kbkkl6WQrqE?rel=0&amp;showinfo=0&autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
  <div class="contact">
    <h2 style="color: #e52328; font-size: 28px; margin-bottom: 20px; text-shadow: 3px 3px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;">Eps</h2>
    <a href="/surfantastic" style="cursor: pointer"><h2>SurFantastic</h2></a>
    <a href="/ohmeohmy" style="cursor: pointer"><h2>Oh Me Oh My</h2></a>
    <a href="/shrimpfishery" style="cursor: pointer"><h2>Shrimp Fishery</h2></a>
  </div>
  <div class="nextgig">
    <a href="https://www.facebook.com/FantasticMisterZguy/" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://open.spotify.com/artist/0yBkxUvlgbxKXQmjQ252iu" target="_blank"><i class="fab fa-spotify" aria-hidden="true"></i></a>
    <a href="https://itunes.apple.com/fr/artist/fantastic-mister-zguy/id1049737307" target="_blank"><i class="fab fa-apple" aria-hidden="true"></i></a>
  </div>
</div>

