<% content_for :meta_title, "Fantastic Mister Zguy - Oh Me Oh My - 2017" %>
<% content_for :meta_description, "Oh Me Oh My is Fantastic Mister Zguy's second EP released in 2017 with 4 songs on it. Feel Good Baby !" %>
<% content_for :meta_image, "Oh-Me-Oh-My.png" %>

<div class="wrapper wrapper-ep" style="border: 10px solid white; background-color: #f0f0f0">
  <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="row">
      <div class="col-md-7">
        <div class="title-ep">
          <h1>Oh Me Oh My</h1>
          <div class="links-ep">
          <a href="https://open.spotify.com/album/2SdoeS9r8V7sAh9lK8UJ7s?si=nnnuGtOtSb6n2ywcPqVLmw" target="_blank"><i class="fab fa-spotify"></i></a>
          <a href="https://www.youtube.com/watch?v=BeE_HypFkco&list=PLag9Kni7Y4y9F9NWcWMIZp8E_7fXKGAW5" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://itunes.apple.com/fr/album/oh-me-oh-my-ep/1243443032" target="_blank"><i class="fab fa-apple"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
          <p>EP autobiographique, "Oh Me Oh My" est la master piece de FMZ. EP mélodieux, sensible et groovy, il a été recordé à Tropicalia avec l'aide du Grand Guillaume Jaoul. Peace.</p>
        </div>
        <div class="songs-ep">
          <p>1. Zguy and the doctor <br>
          2. Tropical Truit <br>
          3. Zguy on the silk roadb <br>
          4. Electric guitare I <br>
          5. The Speedo Song</p>
        </div>
        <h3 class="Compile">Oh Me Oh My</h3>
        <div class="contour">
        <iframe src="https://open.spotify.com/embed?uri=spotify:album:2SdoeS9r8V7sAh9lK8UJ7s&theme=white" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="artwork">
          <%= image_tag("Oh-Me-Oh-My.png", class: "image-ep")  %>
          <%= image_tag("oh.jpg", class: "image-ep")  %>
        </div>
      </div>
    </div>
  </div>
  <a href="/">
    <%= image_tag("fmz.png", class: "image-fmz")  %>
  </a>
  <div class="abonnement">
  <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0yBkxUvlgbxKXQmjQ252iu&size=basic&theme=light" width="200" height="28" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  </div>
</div>
