<% content_for :meta_title, "Oh Me Oh My - 2017" %>
<% content_for :meta_description, "Oh Me Oh My is Fantastic Mister Zguy's second EP" %>
<% content_for :meta_image, "Oh-Me-Oh-My.png" %>

<div class="wrapper wrapper-ep">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-ep">
          <h1>Oh Me Oh My</h1>
        </div>
          <%= image_tag("Oh-Me-Oh-My.png", class: "image-ep")  %>
        <div class="songs-ep">
          <h3>1. Zguy and the doctor</h3>
          <h3>2. Tropical Truit</h3>
          <h3>3. Zguy on the silk road</h3>
          <h3>4. Fantastic doesn't have an electric guitare</h3>
          <h3>5. The Speedo Song</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="links-ep">
          <a href="">Spotify</a>
          <a href="">Deezer</a>
          <a href="">Youtube</a>
          <a href="">Apple</a><br>
          <a href="/">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
