<% content_for :meta_title, "Oh Me Oh My - 2017" %>
<% content_for :meta_description, "Oh Me Oh My is Fantastic Mister Zguy's second EP" %>
<% content_for :meta_image, "Oh-Me-Oh-My.png" %>

<div class="wrapper wrapper-ep">
  <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="row">
      <div class="col-md-7">
        <div class="title-ep">
          <h1>Oh Me Oh My</h1>
          <div class="links-ep">
          <a href="https://open.spotify.com/album/2SdoeS9r8V7sAh9lK8UJ7s?si=nnnuGtOtSb6n2ywcPqVLmw" target="_blank"><i class="fab fa-spotify"></i></a>
          <a href="https://www.youtube.com/watch?v=BeE_HypFkco&list=PLag9Kni7Y4y9F9NWcWMIZp8E_7fXKGAW5" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://itunes.apple.com/fr/album/oh-me-oh-my-ep/1243443032" target="_blank"><i class="fab fa-apple"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
          <p>Fantastic entame 2018 avec l'envie de se concentrer sur de la Lofi Music. Un EP recordé à l'aide de sa tascam depuis sa chambre. Mais aussi à Antony et depuis chez sa tendre Shrimp Roland <3. </p>
        </div>
        <div class="songs-ep">
          <h3>1. Zguy and the doctor</h3>
          <h3>2. Tropical Truit</h3>
          <h3>3. Zguy on the silk road</h3>
          <h3>4. Electric guitare I</h3>
          <h3>5. The Speedo Song</h3>
        </div>
      </div>
      <div class="col-md-5">
        <div class="artwork">
          <%= image_tag("Oh-Me-Oh-My.png", class: "image-ep")  %>
          <iframe src="https://open.spotify.com/embed/album/2SdoeS9r8V7sAh9lK8UJ7s" width="300" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
<%= image_tag("fmz.png", class: "image-fmz")  %>
<%= image_tag("fmz2.png", class: "image-fmz1")  %>
</div>
