<% content_for :meta_title, "Shrimp Fishery - 2016" %>
<% content_for :meta_description, "Shrimp Fishery is Fantastic Mister Zguy's first EP" %>
<% content_for :meta_image, "shrimpfishery.jpg" %>

<div class="wrapper wrapper-ep">
  <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="row">
      <div class="col-md-7">
        <div class="title-ep">
          <h1>Shrimp Fishery <span style="font-size: 14px;">(2016)</span></h1>
          <div class="links-ep">
          <a href="https://open.spotify.com/album/5ZjbWPrAF2WwVlHJx8ROqp?si=5MDnQ4kMQrWyt-i0vCTjAA" target="_blank"><i class="fab fa-spotify"></i></a>
          <a href="https://www.youtube.com/watch?v=AL-PTKGta4g&list=PLag9Kni7Y4y8US_QoaoPElNj-rn9mqq53" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://itunes.apple.com/fr/album/shrimp-fishery-ep/1237216604" target="_blank"><i class="fab fa-apple"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
          <p>Fantastic jouait depuis 10 ans dans sa chambre, saignant Garage Band. Puis un jour, son pote Roland lui a dit : "Mais Zguy, pourquoi on recorderait pas en stud?". FMZ a dit oui. Et ensemble, ils construisairent l'esprit Fantastic, avec un EP Feel-Good.</p>
        </div>
        <div class="songs-ep">
          <h3>1. I won't take you for someone else</h3>
          <h3>2. Shrimp Fishery</h3>
          <h3>3. Zguy and the doctor - Acoustic</h3>
          <h3>4. It's always the same</h3>
          <h3>5. Z, that's my letter</h3>
          <h3>5. Girl, trust me</h3>
        </div>
      </div>
      <div class="col-md-5">
        <div class="artwork">
          <%= image_tag("shrimpfishery.jpg", class: "image-ep")  %>
          <iframe src="https://open.spotify.com/embed/album/5ZjbWPrAF2WwVlHJx8ROqp" width="300" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
  <a href="/">
    <%= image_tag("fmz.png", class: "image-fmz")  %>
  </a>
<%= image_tag("fmz2.png", class: "image-fmz1")  %>
</div>

