<% content_for :meta_title, "Shrimp Fishery - 2016" %>
<% content_for :meta_description, "Shrimp Fishery is Fantastic Mister Zguy's first EP" %>
<% content_for :meta_image, "shrimpfishery.jpg" %>

<div class="wrapper wrapper-ep">
  <div class="container" style="padding-top: 10px; padding-bottom: 10px">
    <div class="row">
      <div class="col-md-12">
        <div class="title-ep">
          <h1>Shrimp Fishery</h1>
        </div>
        <%= image_tag("shrimpfishery.jpg", class: "image-ep")  %>
        <div class="songs-ep">
          <h3>1. I won't take you for someone else</h3>
          <h3>2. Shrimp Fishery</h3>
          <h3>3. Zguy and the doctor - Acoustic</h3>
          <h3>4. It's always the same</h3>
          <h3>5. Z, that's my letter</h3>
          <h3>5. Girl, trust me</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="links-ep">
          <a href="">Spotify</a>
          <a href="">Deezer</a>
          <a href="">Youtube</a>
          <a href="">Apple</a><br>
          <a href="/">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
