<% content_for :meta_title, "Shrimp Fishery - 2016" %>
<% content_for :meta_description, "Shrimp Fishery is Fantastic Mister Zguy's first EP" %>
<% content_for :meta_image, "shrimpfishery.jpg" %>

<div class="wrapper wrapper-ep" style="border: 10px solid white; background-color: #f0f0f0">
  <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="row">
      <div class="col-md-7">
        <div class="title-ep">
          <h1>Shrimp Fishery</h1>
          <div class="links-ep">
          <a href="https://open.spotify.com/album/5ZjbWPrAF2WwVlHJx8ROqp?si=5MDnQ4kMQrWyt-i0vCTjAA" target="_blank"><i class="fab fa-spotify"></i></a>
          <a href="https://www.youtube.com/watch?v=AL-PTKGta4g&list=PLag9Kni7Y4y8US_QoaoPElNj-rn9mqq53" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://itunes.apple.com/fr/album/shrimp-fishery-ep/1237216604" target="_blank"><i class="fab fa-apple"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
          <p>Fantastic jouait depuis 10 ans dans sa chambre, saignant Garage Band. Puis un jour, son pote Roland lui a dit : "Mais Zguy, pourquoi on recorderait pas en stud?". FMZ a dit oui. Et ensemble, ils construisirent l'esprit Fantastic, avec un EP Feel-Good.</p>
        </div>
        <div class="songs-ep">
          <p>1. I won't take you for someone else <br>
          2. Shrimp Fishery <br>
          3. Zguy and the doctor - Acoustic <br>
          4. It's always the same <br>
          5. Z, that's my letter <br>
          5. Girl, trust me</p>
          <iframe src="https://open.spotify.com/embed?uri=spotify:album:5ZjbWPrAF2WwVlHJx8ROqp&theme=white" width="300" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="videos-ep text-center;">
          <h3>All Videos</h3>
          <iframe width="300" height="200" src="https://www.youtube.com/embed/pHOjbJAAHcc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <iframe width="300" height="200" src="https://www.youtube.com/embed/MhX9vFvIMI4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <iframe width="300" height="200" src="https://www.youtube.com/embed/OohwfYA36Bc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <iframe width="300" height="200" src="https://www.youtube.com/embed/AL-PTKGta4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="artwork">
          <%= image_tag("shrimpfishery.jpg", class: "image-ep")  %>
          <%= image_tag("shrimp.jpg", class: "image-ep")  %>
        </div>
      </div>
    </div>
  </div>
  <a href="/">
    <%= image_tag("fmz.png", class: "image-fmz")  %>
  </a>
  <div class="abonnement">
  <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0yBkxUvlgbxKXQmjQ252iu&size=basic&theme=light" width="200" height="28" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  </div>
</div>

