<% content_for :meta_title, "Fantastic Mister Zguy - SurFantastic - 2018" %>
<% content_for :meta_description, "SurFantastic is Fantastic Mister Zguy's third EP released in 2018 with 5 songs on it. This is feel good indie pop rock lofi underground mate." %>
<% content_for :meta_image, "Surfantastic.png" %>

<div class="wrapper wrapper-ep" style="border: 10px solid white; background-color: #f0f0f0">
  <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="row">
      <div class="col-md-7">
        <div class="title-ep">
          <h1>SurFantastic <span style="font-size: 14px;">(2018)</span></h1>
          <div class="links-ep">
          <a href="https://open.spotify.com/album/6Zc2iL7yJjUbaJglnOlA8x?si=c2ex7HmgT-OosFAHFOpqmw" target="_blank"><i class="fab fa-spotify" target="_blank"></i></a>
          <a href="https://www.youtube.com/watch?v=kbkkl6WQrqE&list=PLag9Kni7Y4y9ZiteV-pmn2vAptKjF2JHq" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://itunes.apple.com/ca/album/surfantastic-ep/1390634281?l=fr" target="_blank"><i class="fab fa-apple"></i></a>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
          <p>Fantastic entame 2018 avec l'envie de se concentrer sur de la Lofi Music. Un EP recordé à l'aide de sa tascam depuis sa chambre. Mais aussi en studio à Antony et depuis la chambre de sa tendre Shrimp Roland <3.</p>
        </div>
        <div class="songs-ep">
          <p>1. All Alone <br>
          2. Electric Guitare <br>
          3. I'm freezing outside <br>
          4. Hand in hand with raphaelle <br>
          5. Speedo Attitude</p>
          <iframe src="https://open.spotify.com/embed?uri=spotify:album:6Zc2iL7yJjUbaJglnOlA8x&theme=white" width="300" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="videos-ep">
          <h3>All Videos</h3>
          <iframe width="300" height="200" src="https://www.youtube.com/embed/kbkkl6WQrqE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <iframe width="300" height="200" src="https://www.youtube.com/embed/yr6OCynY1Xc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="artwork">
          <%= image_tag("Surfantastic.png", class: "image-ep")  %>
          <%= image_tag("surf.jpg", class: "image-ep")  %>
        </div>
      </div>
    </div>
  </div>
  <a href="/">
    <%= image_tag("fmz.png", class: "image-fmz")  %>
  </a>
  <div class="abonnement">
  <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0yBkxUvlgbxKXQmjQ252iu&size=basic&theme=light" width="200" height="28" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  </div>
</div>
