<% content_for :meta_title, "SurFantastic - 2018" %>
<% content_for :meta_description, "SurFantastic is Fantastic Mister Zguy's third EP" %>
<% content_for :meta_image, "Surfantastic.png" %>

<div class="wrapper wrapper-ep">
  <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="row">
      <div class="col-md-12">
        <div class="title-ep">
          <h1>SurFantastic</h1>
        </div>
          <%= image_tag("Surfantastic.png", class: "image-ep")  %>
        <div class="songs-ep">
          <h3>1. All Alone</h3>
          <h3>2. I'm freezing outside</h3>
          <h3>3. Someday</h3>
          <h3>4. Electric Guitare II</h3>
          <h3>5. The Speedo Song</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="links-ep">
          <a href="">Spotify</a>
          <a href="">Deezer</a>
          <a href="">Youtube</a>
          <a href="">Apple</a><br>
          <a href="/">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
